@media (max-width:900px){
  .contenido{
    display: flex;
    flex-flow: column wrap;
  }
  header h1{
    text-align: center;
    font-size: 2.5em;
  }

  nav{
    text-align: center;
  }
  nav a{
    padding: 10px;
  }

  img{
    display: block;
    margin: auto;
  }

  figcaption{
    text-align: center;
  }

  .pie h2, p{
    margin-left: 10%;
  }

  .pie ul{
    list-style: none;
  }
}

@media (min-width:901px) {
  .contenido{
    display: flex;
    flex-flow: column wrap;
    max-width: 900px;
    margin: auto;
  }

  .cabecera{
    display: flex;
    flex-flow: row;
    position: relative;
  }

  header h1{
    text-align: left;
    width: 60%;
  }

  nav{
    width: 40%;
    text-align: right;
    position: absolute;
    top: 30%;
    right: 0;
  }

  nav a{
    padding: 10px;
  }

  img{
    display: block;
    margin: auto;
  }

  .secundaria{
    display: flex;
    flex-flow: row;
  }

  .izq{
    width: 450px;
  }

  .der{
    width: 450px;
  }

  .galeria{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .columna1, .columna2, .columna3{
    width: 33.3%;
  }

  img[id$="1"]{
    order: 1;
  }

  img[id$="2"]{
    order: 2;
  }

  img[id$="3"]{
    order: 3;
  }

  img[id$="4"]{
    order: 4;
  }

  img[id$="5"]{
    order: 5;
  }

  img[id$="6"]{
    order: 6;
  }

  figcaption{
    text-align: center;
  }

  .pie{
    display: flex;
    flex-flow: row;
  }

  .pie h2, p{
    margin-left: 10px;
  }

  .pie div{
    width: 25%;
  }

  .pie ul{
    list-style: none;
  }
}
