@font-face {
  font-family: DanScript;
  src: url(../fonts/DancingScript-Regular.otf);
}

body{
  background-color: black;
  color: white;
  font-family: DanScript;
}

.contenido{
  width: 900px;
  margin: 0 auto;
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0px;
  width: 900px;
}

header h1{
  text-align: left;
  text-shadow: 2px 2px 0 #02010a;
}

table{
  position: absolute;
  top:25%;
  right: 0px;
}

table tr td{
  padding: 10px;
}

table tr td a{
  color: white;
}

table tr td a[href="#"]{
  text-decoration: none;
}
